In [21]:
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd
from pandas import DataFrame
import sqlalchemy

#mysql 접속정보
user_name = 'proj_user'
password = '1234'
db_name = 'mini_project_1'

#csv 파일 불러오기
df = pd.read_csv("pitcher.csv")

#to_sql을 이용한 입력
connection = sqlalchemy.create_engine("mysql+mysqldb://{}:{}@localhost/{}?charset=utf8".format(user_name, password, db_name), encoding='utf-8')
table_name = 'KBO_pitcher_data'
df.to_sql(name=table_name, con=connection, if_exists = 'replace', index=True)

db.close()
df

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+mysqldb://proj_user:***@localhost/mini_project_1?charset=utf8): (KBO_pitcher_data)