In [99]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
from pandas import DataFrame

page_basic = "https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx"
page_detail = "https://www.koreabaseball.com/Record/Player/PitcherBasic/Detail1.aspx"
res = requests.get(page_basic)

soup = BeautifulSoup(res.text, 'lxml')
ths = soup.find_all('th')
tds = soup.find_all('td')

head = []
for th in ths:
    head.append(th.get_text())

data = []
for i, td in enumerate(tds):
    try:
        data.append(int(td.get_text()))
    except:
        try:
            data.append(float(td.get_text()))
        except:
            data.append(td.get_text())

parent_arr = []
base = len(head)
row = int(len(data) / base);
for i in range(base):
    node_arr = [];
    for j in range(row):
        offset = i + (base * j);
        node_arr.append(data[offset]);
    parent_arr.append(node_arr);

a = pd.DataFrame(parent_arr)
a = a.T
a.columns = head

res = requests.get(page_detail)

soup = BeautifulSoup(res.text, 'lxml')
ths = soup.find_all('th')
tds = soup.find_all('td')

head = []
for th in ths:
    head.append(th.get_text())

data = []
for i, td in enumerate(tds):
    try:
        data.append(int(td.get_text()))
    except:
        try:
            data.append(float(td.get_text()))
        except:
            data.append(td.get_text())

parent_arr = []
base = len(head)
row = int(len(data) / base);
for i in range(base):
    node_arr = [];
    for j in range(row):
        offset = i + (base * j);
        node_arr.append(data[offset]);
    parent_arr.append(node_arr);

b = pd.DataFrame(parent_arr)
b = b.T
b.columns = head

c = pd.merge(a, b)
c

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,GS,Wgs,Wgr,GF,SVO,TS,GDP,GO,AO,GO/AO
0,1,김광현,SSG,1.82,19,10,2,0,0,0.833,...,19,10,0,0,0,0,10,123,117,1.05
1,2,안우진,키움,2.17,21,11,5,0,0,0.688,...,21,11,0,0,0,0,6,117,135,0.87
2,3,요키시,키움,2.31,21,8,5,0,0,0.615,...,21,8,0,0,0,0,11,176,88,2.0
3,4,폰트,SSG,2.33,22,13,5,0,0,0.722,...,22,13,0,1,0,0,5,129,167,0.77
4,5,수아레즈,삼성,2.41,21,4,6,0,0,0.4,...,20,4,0,0,0,0,10,126,101,1.25
5,6,루친스키,NC,2.48,22,8,8,0,0,0.5,...,22,8,0,0,0,0,8,144,117,1.23
6,7,플럿코,LG,2.56,21,11,4,0,0,0.733,...,21,11,0,0,0,0,8,83,172,0.48
7,8,소형준,KT,2.76,19,11,2,0,0,0.846,...,19,11,0,0,0,0,13,169,98,1.72
8,9,켈리,LG,2.88,19,12,2,0,0,0.857,...,19,12,0,0,0,0,13,126,105,1.2
9,10,반즈,롯데,2.94,24,10,9,0,0,0.526,...,24,10,0,0,0,0,12,168,143,1.17
10,11,고영표,KT,2.96,20,11,5,0,0,0.688,...,20,11,0,1,0,0,14,178,90,1.98
11,12,스탁,두산,3.03,22,9,6,0,0,0.6,...,22,9,0,0,0,0,22,154,99,1.56
12,13,뷰캐넌,삼성,3.37,19,6,8,0,0,0.429,...,19,6,0,1,0,0,7,155,88,1.76
13,14,최원준,두산,3.42,20,7,8,0,0,0.467,...,20,7,0,0,0,0,7,89,160,0.56
14,15,양현종,KIA,3.48,22,10,6,0,0,0.625,...,22,10,0,0,0,0,11,136,139,0.98
15,16,원태인,삼성,3.54,19,6,5,0,0,0.545,...,19,6,0,0,0,0,8,118,126,0.94
16,17,박세웅,롯데,3.72,20,8,7,0,0,0.533,...,20,8,0,0,0,0,13,153,73,2.1
17,18,이의리,KIA,3.84,22,7,8,0,0,0.467,...,21,7,0,0,0,0,1,100,133,0.75
18,19,애플러,키움,4.12,23,5,7,0,0,0.417,...,19,5,0,2,0,0,11,151,89,1.7
19,20,데스파이네,KT,4.3,21,6,8,0,0,0.429,...,21,6,0,0,0,0,19,144,87,1.66
20,21,오원석,SSG,4.31,21,6,5,0,0,0.545,...,19,5,1,0,0,0,15,102,118,0.86
21,22,김민우,한화,4.92,20,3,9,0,0,0.25,...,20,3,0,0,0,0,10,104,115,0.9