In [1]:
import selenium
from selenium import webdriver
import pymysql

In [2]:
driver = webdriver.Chrome()
driver.get("http://www.statiz.co.kr/stat.php")

In [67]:
war_list = []
nth = 4
for i in range(3,37):
    try:
        wars = driver.find_element_by_xpath('//*[@id="fixcol"]/table/tbody/tr[{}]/td[{}]/font/span'.format(i,nth)).text
        war_list.append(wars)
    except:
        continue

In [72]:
# col 생성
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='3064', db='mywork', charset='utf8')
cursor = db.cursor()

sql = "create table WAR (WAR DECIMAL(10,2));"

cursor.execute(sql)
db.commit()

In [73]:
# 내용 추가
td_list = []
for i in range(3,37):
    try:
        wars = driver.find_element_by_xpath('//*[@id="fixcol"]/table/tbody/tr[{}]/td[{}]/font/span'.format(i,nth)).text
        print(wars)
        war_list.append(wars)
    except:
        continue
        
    sql = "INSERT INTO WAR VALUES({});".format(wars)

    cursor.execute(sql)
        
db.commit()

6.63
5.23
5.13
4.27
4.11
4.07
3.93
3.80
3.61
3.59
3.36
3.23
3.04
2.91
2.87
2.86
2.84
2.82
2.82
2.81
2.80
2.78
2.72
2.56
2.52
2.43
2.40
2.40
2.36
2.35